.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  background-color: var(--hextech-black-color);
  border: 1px solid var(--gold-color);
  padding-left: 10px;
  padding-right: 10px;
}

.inputContainer input {
  background-color: var(--hextech-black-color);
  flex-grow: 1;
  border: none;
  height: 40px;
  color: var(--gold-color);
  font-family: 'SpiegelSemiBold';
  font-size: 15px;
  padding-left: 10px;
}

.inputContainer:hover {
  box-shadow: 0 0 4px 2px var(--gold-color);
}

.inputContainer input:focus {
  outline: none;
}

.clearButton {
  background-color: transparent;
  padding: 0;
  margin-top: 1px;
}

.clearButton:hover {
  opacity: 0.5;
}
