.modalContainer {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  min-height: 100%;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 70;
}

.modal {
  background-color: var(--hextech-black-color);
  width: 800px;
  padding: 20px;
  border: 2px solid var(--gold-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 810px) {
  .modal {
    width: 80%;
    padding: 10px;
  }
}
