.mainLayout {
  background-color: var(--hextech-black-color);
  background: no-repeat top right url('../../assets/images/poro-worlds-league-of-legends.jpg');
  background-size: cover;
  overflow: hidden;
  background-attachment: fixed;
}

.mainContainer {
  box-sizing: border-box;
  width: 1280px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: var(--main-bg-color);
  border-left: 2px solid var(--gold-color);
  border-right: 2px solid var(--gold-color);
  box-shadow: 0px 0px 10px var(--gold-color);
}

.languageButtonContainer {
  display: flex;
  justify-content: space-between;
}

.returnButton {
  display: block;
  background: no-repeat url('../../assets/icons/ArrowIcon_gold.png');
  background-size: contain;
  width: 35px;
  height: 35px;
  transform: rotate(-90deg);
}

.returnButton:hover {
  background: no-repeat url('../../assets/icons/ArrowIcon_light_gold.png');
  background-size: contain;
  opacity: 1;
  filter: drop-shadow(0px 0px 2px var(--gold-color));
}

@media screen and (max-width: 1280px) {
  .mainContainer {
    width: 100%;
    border: none;
  }
  .mainLayout {
    background: none;
  }
}
