.dropdownButton {
  background-color: transparent;
  color: var(--gold-color);
  font-family: 'SpiegelSemiBold';
  font-size: 16px;
}

.labelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdownContainer {
  position: absolute;
  background-color: var(--hextech-black-color);
  border: 1px solid var(--gold-color);
  display: flex;
  flex-direction: column;
  width: inherit;
}

.selectArrow {
  font-family: 'BeaufortHeavy';
  color: var(--gold-color);
  transform: rotate(90deg);
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.dropdownOption {
  background-color: transparent;
  padding: 10px;
  color: white;
  font-family: 'Spiegel';
  font-size: 15px;
  text-align: left;
  border-bottom: 1px solid var(--dark-gold-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.checkmark {
  font-weight: bolder;
  color: var(--gold-color);
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.dropdownOption:hover {
  background-color: var(--dark-blue-color);
}

.optionLabel {
  margin: 0;
}

.textCut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}
