h2 {
  font-family: 'BeaufortBold';
  font-size: 20px;
  color: var(--clear-gold-color);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  font-family: 'BeaufortBold';
  font-size: 16px;
  color: var(--gold-color);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-top: 5px;
}

.coverContainer {
  border: 1px solid var(--gold-color);
  margin-top: 20px;
}

.championNameCard {
  background: no-repeat top right url('../../assets/icons/nameCard.svg');
  background-size: cover;
  filter: drop-shadow(1px 1px 1px var(--gold-color));
  width: 350px;
  height: 70px;
  position: absolute;
  z-index: 100;
  padding: 10px;
  box-sizing: border-box;
}

.championCover {
  width: 90%;
  position: relative;
  margin-left: auto;
  margin-right: 0;
}

.championFullImage {
  width: 100%;
  margin-bottom: -3px;
}

.imageGradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: radial-gradient(circle at 100%, rgba(0, 0, 0, 0) 50%, rgba(9, 20, 40, 1) 100%);
}

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }

  .championNameCard {
    width: 300px;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 13px;
    letter-spacing: 1px;
  }

  h3 {
    font-size: 10px;
    padding-top: 2px;
  }

  .championNameCard {
    width: 170px;
    height: 40px;
    padding: 5px;
  }

  .championCover {
    width: 95%;
  }
}
