h2 {
  font-family: 'BeaufortBold';
  font-size: 20px;
  color: var(--clear-gold-color);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  font-family: 'BeaufortBold';
  font-size: 16px;
  color: var(--gold-color);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-top: 5px;
}

.coverContainer {
  border: 1px solid var(--gold-color);
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.championNameCard {
  background: no-repeat top right url('../../assets/icons/nameCard.svg');
  background-size: cover;
  filter: drop-shadow(1px 1px 1px var(--gold-color));
  width: 350px;
  height: 70px;
  padding: 10px;
  position: absolute;
  z-index: 100;
  box-sizing: border-box;
}

.championStats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

.spellsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 450px;
}

.spellSeparator {
  height: 62px;
  width: 2px;
  background-color: var(--gold-color);
}

.spellButton {
  padding: 0;
  display: flex;
}

.spellButton:hover {
  box-shadow: 0 0 1px 2px var(--gold-color);
}

.spellButtonSelected {
  border: 1px solid var(--gold-color);
}

.general {
  width: 60px;
  height: 60px;
}

.passive {
  width: 50px;
  height: 50px;
}

.descriptionContainer {
  width: 450px;
  margin-bottom: 30px;
}

.spellInfo {
  font-family: 'Spiegel';
  color: var(--gold-color);
  font-size: 16px;
  line-height: 20px;
}

.descriptionSeparator {
  height: 1px;
  background-color: var(--dark-gold-color);
  margin-top: 40px;
  margin-bottom: 40px;
}

.globalSeparator {
  height: 2px;
  background-color: var(--gold-color);
  margin-top: 40px;
  margin-bottom: 40px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.loreContainer {
  width: 450px;
}

.tips {
  margin-top: 20px;
  list-style: inside;
}

.tips li {
  margin-bottom: 5px;
}

.guideLinksContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.guideLink {
  padding: 5px 30px 5px 30px;
  border: 2px solid var(--gold-color);
  color: var(--clear-gold-color);
  font-family: 'BeaufortBold';
  font-size: 14px;
  letter-spacing: 1px;
  background: linear-gradient(to bottom, var(--dark-gold-color), #32281e);
  box-shadow: inset 0px 0px 1px black;
}

.guideLink:hover {
  box-shadow: 0 0 4px 1px var(--clear-gold-color);
  background: linear-gradient(to bottom, var(--dark-gold-color), var(--gold-color));
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }

  .championNameCard {
    width: 300px;
  }
}

@media screen and (max-width: 480px) {
  .coverContainer {
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
  }

  .championStats {
    margin-left: 0;
    margin-right: 0;
  }

  h2 {
    font-size: 13px;
    letter-spacing: 1px;
  }

  h3 {
    font-size: 10px;
    padding-top: 2px;
  }

  .championNameCard {
    width: 170px;
    height: 40px;
    padding: 5px;
  }

  .spellsContainer {
    width: 100%;
  }

  .descriptionContainer {
    width: 100%;
  }

  .loreContainer {
    width: 100%;
  }

  .general {
    width: 45px;
    height: 45px;
  }

  .passive {
    width: 40px;
    height: 40px;
  }

  .spellSeparator {
    height: 50px;
  }

  .descriptionSeparator {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .spellInfo {
    font-size: 13px;
    line-height: 20px;
  }
}
