h2 {
  font-family: 'BeaufortBold';
  font-size: 20px;
  color: var(--clear-gold-color);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  font-family: 'BeaufortBold';
  font-size: 16px;
  color: var(--gold-color);
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-top: 5px;
}

.coverContainer {
  border: 1px solid var(--gold-color);
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.championNameCard {
  background: no-repeat top right url('../../assets/icons/nameCard.svg');
  background-size: cover;
  filter: drop-shadow(1px 1px 1px var(--gold-color));
  width: 350px;
  height: 70px;
  position: absolute;
  z-index: 100;
  padding: 10px;
  box-sizing: border-box;
}

.championCover {
  width: 90%;
  position: relative;
  margin-left: auto;
  margin-right: 0;
}

.championFullImage {
  width: 100%;
  margin-bottom: -3px;
}

.imageGradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: radial-gradient(circle at 100%, rgba(0, 0, 0, 0) 50%, rgba(9, 20, 40, 1) 100%);
}

.championStats {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}

.spellsContainer {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: space-around;
  width: 450px;
}

.spellSeparator {
  height: 62px;
  width: 2px;
  background-color: var(--gold-color);
}

.spellButton {
  padding: 0;
  display: flex;
}

.spellButton:hover {
  box-shadow: 0 0 1px 2px var(--gold-color);
}

.spellButtonSelected {
  border: 1px solid var(--gold-color);
}

.general {
  width: 60px;
  height: 60px;
}

.passive {
  width: 50px;
  height: 50px;
}

.descriptionContainer {
  width: 450px;
}

.spellInfo {
  font-family: 'Spiegel';
  color: var(--gold-color);
  font-size: 16px;
  line-height: 20px;
}

.descriptionSeparator {
  height: 1px;
  background-color: var(--dark-gold-color);
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }

  .championNameCard {
    width: 300px;
  }
}

@media screen and (max-width: 480px) {
  .coverContainer {
    margin-left: 0;
    margin-right: 0;
  }

  .championStats {
    margin-left: 0;
    margin-right: 0;
  }

  h2 {
    font-size: 13px;
    letter-spacing: 1px;
  }

  h3 {
    font-size: 10px;
    padding-top: 2px;
  }

  .championNameCard {
    width: 170px;
    height: 40px;
    padding: 5px;
  }

  .championCover {
    width: 95%;
  }

  .spellsContainer {
    width: 100%;
    margin-top: 30px;
  }

  .descriptionContainer {
    width: 100%;
  }

  .general {
    width: 45px;
    height: 45px;
  }

  .passive {
    width: 40px;
    height: 40px;
  }

  .spellSeparator {
    height: 50px;
  }

  .descriptionSeparator {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .spellInfo {
    font-size: 13px;
    line-height: 20px;
  }
}
